/* Resetting default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar .links-container {
  list-style-type: none;
  display: flex;
}

.navbar .links-container .link-item {
  margin-right: 15px;
}

.navbar .links-container .link {
  text-decoration: none;
  color: #fff;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.about-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* Adjust this value as needed */
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content {
  flex: 1;
}

.about-image {
  flex: 1;
  text-align: center; /* Adjust alignment if needed */
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px; /* Optional: Rounded corners */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-content .topics {
  display: flex;
}

.footer-content .topics .topic {
  margin-right: 20px;
}

.footer-content .topics .topic ul {
  list-style-type: none;
  padding: 0;
}

.footer-content .topics .topic ul li {
  margin-bottom: 5px;
}

.footer-content .social-links a {
  margin-left: 10px;
}

.footer-content .social-links a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar .links-container {
      margin-top: 10px;
  }

  .main {
      flex-direction: column;
      align-items: center;
  }

  .about-section {
      flex-direction: column;
  }

  .about-content {
      order: 2;
  }

  .about-image {
      order: 1;
      margin-bottom: 20px;
  }
}
